<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Your local folder feed -->
    <add key="Local" value="local-packages" />
    <!-- Keep nuget.org if you still want public packages -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
